<h1>About</h1>
<p>This is an Node/Express app used for creating personal memos - available on the web.

Created by following <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment">this course</a></p>