<div class="jumbotron text-center">
	<h1 class="display-3">{{title}}</h1>
	<p class="lead">Create notes and memos available accross all your devices</p>
	<a href="/memos/add" class="btn btn-dark btn-lg">Create Memo</a>
</div>